h1 {
  box-sizing: content-box;
}

 /* don't forget to write yr own styling! */
body {
	background-color: pink;

	padding: 3vw;
}

#theCanvas {
	height: 300px;
	width: 300px;
	background-color: green;
}